body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    
}

.flex-item {
    background-color: cornflowerblue;
    border-radius: 8px;
    width: 300px;
    height: 300px;
    margin: 50px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 34px 36px;
    text-decoration: none;
    font: 150% sans-serif;
}
.footer {
  position:absolute;
  right: 0;
  bottom: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color: #6D9CC8;
  text-align: center;
}
img{
   border: 1px solid #ccc;
   border-radius: 8px;
}
.img img :hover {
    border: 1px solid #777;
     
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #6D9CC8;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

.titulo{
  text-align: center;
  font: 500% sans-serif;
}


